

/*Positioning the Canvas*/

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*canvas border*/

canvas {
    border: 1px solid #000000;/
}